
//  ----------------------------------------------------------------- //
// This file sets some global variables and includes all the modules  //
//  ----------------------------------------------------------------- //


// Fonts weights
$thin: 200;
$bold: 800;
$normal: 400;


// Fonts families
$regular_font: 'Nunito', sans-serif;;

// Includes all the modules
@import '../modules/all';

// General Styles

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1, h2, h3, p {
	font: {
		weight: $normal; 
		family: $regular_font;
	}
}

h2 {
	margin: 0.5em 0px;
	font-size: 1.7em;
}