// --------------------------------------------------- //
// In this file I list all the colors used in the app  //
// --------------------------------------------------- //

$white: #FFFFFF;
$grey: #6c757d;
$light_grey: #f8f9fa;
$darker_grey: #d6d6d6;
$smooth_black: #343a40;
$kiwiIRC_color:#8ab746;