/*
* Main stylesheet
* Author: Gamertod
* Author Web page: http://gamertod.tk/
*/

// Import the base partial
@import 'partials/base';

// *,
// *:before,
// *:after {
// 	margin: 0;
// 	padding: 0;
// 	box-sizing: border-box;
// }

// h1, h2, h3, p {
// 	font: {
// 		weight: $normal; 
// 		family: $regular_font;
// 	}
// }

// h2 {
// 	margin: 0.5em 0px;
// 	font-size: 1.7em;
// }

body {

	font: {
		weight: $thin;
		family: $regular_font; 
	}
	background-color: $light_grey;



	header {
		// Import the nav styles
		@import 'partials/nav';

		.header_content {
			width: 100%;
			height: 40vh;
			padding: 1em;
			background-color: $white;
			@include center-flex(center);

			.content {			
				width: 50%;
				margin: auto;
				display: block;
				text-align: center;

				h1 {
					font-size: 2.5em;
				}

				p {
					color: $grey;
					font: {
						size: 15pt;
						weight: $thin; 
					}
				}
			}
		}
	}

	main {
		.whos_behind {
			width: 100%;
			display: flex;
			padding-top: 1em;

			.content,
			.people {
				width: 50%;
				flex-grow: 1;
				padding: 1em;
				text-align: center;
			}

			.people {
				border-left: 2px solid $darker_grey;

				ul {
					margin-top: 2em;
					list-style: none;
					text-align: left;
					padding: 0px 2.4em;
				}
			}
		}

		.connect {
			width: 100%;

			.content {
				width: 50%;
				padding: 1em;
				margin:2em auto;
				text-align: center;

				.connect_command {
					display:flex;
					margin-top: 2em;
					justify-content: center;

					p {
						color: $grey;
						padding: 0.5em 1em;
						font-weight: $normal;
						display: inline-block;
						// background-color: $white;
						border: 2px solid $darker_grey;
					}
	
					p.copy_icon {
						height: 100%;
						cursor: pointer;
						border-left: none; 
						background-color: white;
					}

					.copy_icon:after {
						content: "\f0c5";
						font-family: 'Font Awesome icons';
					}
				}
			}
		}
	}

	// Import footer styles
	@import 'partials/footer';
}